{% extends 'base.html' %}
{% load cms_tags menu_tags i18n %}

{% block css %}

{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

    <section class="slice bg-2">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>{% trans "9 Reasons to choose Thermofloc solutions" %}</h2>

                            <p>

                            </p>
                            <span class="clearfix"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice bg-5">
        <div class="w-section inverse">
            <div class="container">
                {% placeholder "reasons" %}
            </div>
        </div>
    </section>
{% endblock %}